<div>
  <h2>Calculateur d'Achats</h2>

  <div>
    <label for="prix">Prix des achats (séparés par des virgules) :</label>
    <input type="text" id="prix" [(ngModel)]="prixAchats" />
  </div>

  <div>
    <button (click)="calculerSommePayee()">Ajouter achat</button>
  </div>

  <div>
    <label for="sommePayee"
      >Somme payée :
      <h3>{{ sommePayee }} euros</h3></label
    >
  </div>

  <div>
    <button (click)="calculerRenduMonnaie()">Calculer Rendu Monnaie</button>
  </div>

  <div *ngIf="objetRenduMonnaie != null">
    <h3>Rendu de monnaie :</h3>
    <div *ngFor="let item of objetRenduMonnaie | keyvalue">
      {{ item.value }} billets/monnaies de {{ item.key }} euros
    </div>
  </div>
</div>
